.button {
  display: flex;
  height: 60px;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: none;
  &:hover {
    cursor: pointer;
  }
  transition: var(--default-transition);
}

.orange {
  background-color: var(--orange-color);
  color: var(--light);
}

.white {
  background-color: var(--light);
  color: var(--black-color);
}
.white--orange-onHover{
  background-color: var(--white-color);
  color: var(--black);
  .icon{
    stroke: var(--black-color);
  }
  &:hover{
    background-color: var(--orange-color);
    color: var(--light);
    .icon{
      stroke: var(--light);
    }
  }
}